<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POKEMON</title>
    <link rel="stylesheet" href="/style/pokemonMain.css">
    </head>
    <body>
        <%- include(`./searchAndRandom.ejs`) %> 
        <div class="container">
            <h1> WELCOME</h1>
            <p>Start by searching a pokemon or pick a random one!</p>
        </div>
    </body>
</html>