<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POKEMON</title>
    <link rel="stylesheet" href="/style/pokemonMain.css">
    </head>
    <body>
        <%- include(`./searchAndRandom.ejs`) %> 
        <div class="container">
            <h1> WELCOME</h1>
            <p>Start by searching for a pokemon or  encounter a random one!</p>

            <div class="egg-container">
                <img src="https://forums.pokemmo.com/uploads/monthly_2024_01/egg.gif.46621b6bd204a2fb07e4e88d41e2324f.gif"/>
            </div>

        </div>
    </body>
</html>