<div class="pokeSearch">
    <form action="/api/pokemon/search-pokemon" method="GET" >
        <input type="text" name="pokemon" style="font-size: 100%; height: 70%;" placeholder="Enter Pokemon or ID">
        <button>Search</button>
    </form>
</div>
